---
title: Home
menu_item: Home
menu_order: -50
author: Anthony SIMONET
---

<div class="blog-header">
	<h1 class="blog-title">Dr. Anthony SIMONET's webpage</h1>
	<p class="lead blog-description">Post-doctoral Associate at Rutgers
   University</p>
</div>

<div class="row">
	<div class="col-sm-8 blog-main">
      <p>I obtained a PhD in Computer Science from the University of Lyon and the
      École Normale Supérieure (ENS) in Lyon, France, as part of the Avalon
      project team of the LIP laboratory.</p>

      <p>Before that, I obtained a Master's degree from the University of
      Bordeaux.</p>

      <p style="font-weight: bold;">View more details in my <a
         href="/cv_asimonet_en.pdf">résumé</a>.</p>

		<h1>Research activities</h1>

      I am a member of the <a href="http://rdi2.rutgers.edu"
                              target="_blank»">Rutgers Discovery Informatics
                              Institute</a>
      at <a href="http://rutgers.edu" target="_blank">Rutgers University</a>
      where I conduct research in the fields of Distributed Systems, Data
      Management, Cloud Computing and Energy.<br /><br />

		Previously I was part of the <a href="http://beyondtheclouds.github.io" target="_blank">Discovery</a> initiative.
      In this project that federated researchers from multiple industries and
      Inria labs, I worked on massively distributed cloud computing
      infrastructures. In particular, I studied the energy model of these
      platforms and the management of data (virtual appliances and user data) in
      a context where the infrastructure is dynamic (datacenters may appear and
      disappear at any time) and users are mobile.<br /><br />

      My research focuses on data management for distributed data-intensive
      applications, and in hybrid distributed infrastructures. I aim at
      providing means of using large and heterogeneous computing and storage
      ressources in a transparent way for the users, providing abstractions and
      models to ease the development of dava-intensive and high performance
      applications.

		<h1>Ph.D work</h1>
      During my Ph.D. I developed Active Data. Active Data is a meta-model for
      representing the end-to-end life cycle of data distributed across multiple
      systems and infrastructures. Active Data is also a programming model and
      an implementation that helps developing managing the life cycle of
      distributed data. The idea borrows from event programming while relying on
      data transition events. The resulting programming model is data-centric
      and implicitly parallel. To learn more about <a
         href="http://active-data.gforge.inria.fr" target="_blank">Active
         Data</a>
		you can visit the brand website at <a href="http://active-data.gforge.inria.fr" target="_blank">http://active-data.gforge.inria.fr</a>.
	</div><!-- /.blog-main -->

	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
		<div class="sidepar-module portrait">
			<img src="<%= items['/assets/img/portrait.jpg'].path %>" alt="<%= @config[:author_name] %>" width="80%" />
		</div>
		<div class="sidebar-module sidebar-module-inset">
			<h4>Contact</h4>
			<p>If you are a human, please feel free to contact me.</p>
			<address>
				<strong>Email:</strong> <em><%= @config[:author_email] %></em>
				<strong>Phone:</strong>&nbsp;<%= @config[:author_phone] %>
				<strong>Skype:</strong>&nbsp;<em><%= @config[:author_skype] %></em>
				<strong>Mailing address:</strong><br />
				<em><%= @config[:author_address].gsub(/\s\s/, '<br />') %></em><br/>
				<strong>GPG Key:</strong>&nbsp;<a href="asimonet.asc">download</a>
			</address>
		</div>
		<div class="sidebar-module">
			<h4>Links</h4>
			<ol class="list-unstyled">
				<% @config[:links].each do |link| %>
				<li><a href="<%= link.url %>" target="_blank"><%= link.label %></a></li>
				<% end %>
			</ol>
			<span id="social">
            <% @config[:social].each do |service| %>
            <% title = service['title'] || "My #{service['name']} profile" %>
				<a href="<%= service['url'] %>" target="_blank">
               <img src="<%= items["/assets/img/logos/#{service['id']}.png"].path %>"
                  title="<%= title %>" alt="<%= service['name'] %>" />
            </a>
            <% end %>
			</span>
		</div>
	</div><!-- /.blog-sidebar -->
</div><!-- /.row -->
