@font-face {
  font-family: 'Overlock';
  font-style: italic;
  font-weight: 900;
  src: local('Overlock-BlackItalic'), url(/assets/css/overlock.ttf) format('truetype');
}

p {
	font-size: 16px;
}

span.tiny-note {
	font-size: 60%;
}

.page-title {
	position: relative;
	left: -20px;
	font-family: 'Overlock', cursive;
	font-style: italic;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 45px;
	font-weight: 900;
}

div.abstract {
	border-left: solid 5px #337ab7;
	border-right: solid 5px #337ab7;
	border-bottom: solid 1px #337ab7;
	border-top: solid 1px #337ab7;
	border-radius: 13px;
	padding: 10px 10px 5px 15px;
}

div.portrait {
	text-align: center;
	margin-bottom: 10px;
}

div.portrait img {
	border-radius: 5px;
}

span#social img {
	height: 35px;
}

img.inlay {
	position: fixed;
	top: 50px;
	right: 30px;
	height: 450px;
	width: auto;
	z-index: -1;
	opacity: 0.1;
	filter: alpha(opacity=10); /* For IE8 and earlier */
	display: none;
}

@media (max-width: 900px) {
	img.inlay {
		right: 20px;
		height: 300px;
	}
}

@media (max-width: 768px) {
	img.inlay {
		right: 20px;
		height: 250px;
	}
}

@media (max-width: 500px) {
	img.inlay {
		right: 10px;
		height: 200px;
	}
}

